*
  box-sizing: border-box

body
  position: relative
  width: 100%
  font-family: 'Montserrat-Regular', sans-serif
  font-size: 16px

.container
  margin: 0 auto
  max-width: 1256px
  border: 1px solid red

h1
  font-family: 'Montserrat-Bold', sans-serif
  font-size: 48px
h3
  font-family: 'Montserrat-SemiBold', sans-serif
  font-size: 16px