@import "setting"
@import "normalize"
@import "fonts"
@import "interface"
@import "variables"
@import "blocks/footer"
@import "blocks/header"
@import "blocks/main"
@import "blocks/section-gallery"
@import "blocks/section-form"

body
  font-family: 'Montserrat-Regular', sans-serif
  font-size: 16px

h1 
  font-family: 'Montserrat-Bold', sans-serif
  font-size: 48px
h3
  font-family: 'Montserrat-SemiBold', sans-serif
  font-size: 16px