.footer
  position: relative
  display: flex
  justify-content: space-around
  align-items: center
  width: 100%
  margin: 0 auto
  margin-bottom: 65px
  margin-top: 65px
  @media (max-width: $tablet)
    font-size: 12px
    width: 90%
  & a 
    text-decoration: none
    color: $dark
    font-family: 'Montserrat-Regular', sans-serif
    font-size: 16px
    & span
      font-family: 'Montserrat-Bold', sans-serif
    @media (max-width: $tablet)
      font-size: 12px
      margin-left: 20px
    & img
      width: 96px
      height: 50px
      margin-top: -15px
  &__logo-footer
    @media (max-width: $mobile)
      position: absolute
      top: -50px
  &__rights
    @media (max-width: $mobile)
      text-align: right
    
