.menu
  max-width: 1400px 
 
  margin: 0 auto
  margin-top: 80px
  position: relative
  & h1
    text-align: center
    margin-top: 100px
  &__group
    display: flex
    justify-content: space-around
    align-items: center
    & a
      font-size: 16px
      border: 1px solid #ECEEF6
      background-color: #ECEEF6
      color: $dark
      width: 135px
      height: 55px
      border-radius: 45px
      text-decoration: none
      margin-bottom: 50px
      margin-top: 50px
      font-family: 'Montserrat-SemiBold', sans-serif
      display: flex
      align-items: center
      justify-content: center
    & a:first-child
      margin-left: 300px
    & a:last-child
      margin-right: 300px
  &__page
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    width: 80%
    margin: 0 auto
  &__background-icon1 
    position: absolute
    margin-top: -1050px
  &__background-icon2
    position: absolute
    margin-top: -970px
    margin-left: 1250px
  &__more
    & a
      display: block
      text-align: center
    & img
      margin-top: 50px
     
      width: 60px
      height: 60px
    
    



.page
  &__element
    width: 260px
    height: 400px
    border: 2px solid #ECEEF7
    border-radius: 15px
    margin-bottom: 20px
    display: flex
    flex-direction: column 
    justify-content: center
    align-items: center
    
    & p 
      margin-left: 10px
      font-size: 12px
  
.element 
  position: relative
  &__foto
    width: 170px
    height: 170px
    margin-top: 20px
  &__title
    align-self: start
    margin-left: 10px
    margin-top: 20px
  &__size
    align-self: flex-end
    margin-right: 10px
    margin-top: -30px
    font-family: 'Montserrat-Regular', sans-serif
    font-size: 12px
    font-weight: normal
  &__price
    font-size: 24px
    font-family: 'Montserrat-Light', sans-serif
    margin-top: 10px
  
  &__absolute-icon
    position: absolute
    margin-top: -350px 
    margin-left: -180px
  &__basket
    margin-bottom:
    margin-top: 70px

.rect
  border: 2px solid #ECEEF6
  border-radius: 0 0 20px 0
  transform: translateY(24px) rotate(45deg)
  position: absolute
  margin-top: 354px
  border-top: none
  border-left: none

  