*
  outline:none

.form
  background-color: #F0F5FB
  &__wrap
    width: 1400px
    margin: 0 auto
    background: url('../img/background2.png') no-repeat
    height: 590px
    & h1 
      text-align: center
      margin-top: 80px
      padding-top: 80px
      line-height: 150%
.wrap   
  &__input-group
    margin-top: 40px
    display: flex
    justify-content: space-around
    align-items: center
    & input, button
      width: 250px
      height: 60px
      background: #FFFFFF
      border: 2px solid #ECEEF7
      border-radius: 57px
      box-sizing: border-box
      padding-left: 20px  
    & button
      background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1
      box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26)
      border-radius: 59px
      margin-right: 290px
      font-family: 'Montserrat-Bold', sans-serif
      font-size: 18px
      color: $light
      &:hover
        cursor: pointer
       
        color: $dark
      &:active, &:focus
        border: 0 
        outline: none
        
      & img
        width: 32px
        height: 9px
        padding-left: 30px

    & input
      &:hover,
      &:focus
        cursor: pointer
        outline: none 
        border: 3px solid $primary

      &:first-child
        margin-left: 290px
